__pycache__
*.pyc
*.log
*.pth
*.npy
checkpoints*
*checkpoints/
*.txt
*.ipynb
data
*.zip
.vscode

modelzoo
pruned_models
models_old
logs
run*

exported

cub200_resnet18
stanford_dogs_resnet18
pretrained
zoo
probe_data
test_zoo
exported_metrics
export*
tests